/*variables */
:root{
  --primary-color: #685848;
  --secoundary-color: black;
  --shadow-color: #c5c5c5;
  --white-color: white;
  --grey-color: grey;
  --color-over-dark: #bbbdc3;
  --transparent-color: transparent;
  --perfect-shadow: 1em -4px 4em var(--shadow-color), -1em -4px 4em var(--shadow-color);
  --primary-shadow: 1px 16px 14px var(--primary-color);
  --primary-link-shadow: 0px 2px 0px var(--primary-color);
  --header-image: url("../images/frontview_horizontal.jpeg");
  --frontview-vertical-image: url("../images/frontview_vertical.jpeg");
}

/* Global Declarations */
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--secoundary-color);
  font-size: 20px;
}

p{
  font-size: 22px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}


header {
  width: 100%;
  height: 25rem;
  background-image: var(--header-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Utility Starts Here */

.dropdown{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.dropdown-menu{
  display: none;
}

.dropdown:hover > .dropdown-menu{
  background-color: var(--white-color);
  box-shadow: var(--primary-shadow);
  border-radius: 0px 0px 7px 7px;
  position: fixed;
  top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 7rem;
}

.dropdown-menu > .dropdown-items{
  width: 100%;
  height: calc(100%/3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-menu > .dropdown-items > .link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dropdown-menu > .dropdown-items:hover{
  background-color: var(--shadow-color);
}

.dropdown-menu > .dropdown-items:last-child{
  border-radius: 0px 0px 7px 7px;
}

/* Utility Ends Here */

.navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white-color);
}

.navigation-bar .logo .title {
  position: relative;
  bottom: -1.2rem;
  left: 3.25rem;
}

.navigation-bar .logo .title-suffix-pre {
  position: relative;
  top: -7px;
}

.navigation-bar .logo .title-suffix-pre b {
  color: var(--primary-color);
  font-size: 2.43rem;
  font-weight: 100;
}

.navigation-bar .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: max-content;
}

/* Hamburger-menu's CSS STARTS HERE */
.navigation-bar .hamburger-menu {
  height: 3rem;
  width: 3rem;
  display: none;
}

.navigation-bar .hamburger-menu .iconOfMenu{
  content: " ";
  width: 2.5rem;
  height: 2px;
  background-color: var(--secoundary-color);
  position: absolute;
  top: 1.5rem;
}

.navigation-bar .hamburger-menu .iconOfMenu::after{
  content: " ";
  width: 2.5rem;
  height: 2px;
  background-color: var(--secoundary-color);
  position: absolute;
  bottom: 1rem;
}

.navigation-bar .hamburger-menu .iconOfMenu::before{
  content: " ";
  width: 2.5rem;
  height: 2px;
  background-color: var(--secoundary-color);
  position: absolute;
  top: 1rem;
}

.navigation-bar .hamburger-menu .stateOfMenu {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  position: relative;
  top: 0;
  left: 42px;
}

.navigation-bar .hamburger-menu input[type='checkbox']:checked ~ .iconOfMenu:before{
  transform: rotate(45deg);
  top: 0;
}

.navigation-bar .hamburger-menu input[type='checkbox']:checked ~ .iconOfMenu:after{
  transform: rotate(-45deg);
  top: 0;
}

.navigation-bar .hamburger-menu input[type='checkbox']:checked ~ .iconOfMenu{
  background-color: var(--transparent-color);
}

/* Hamburger-menu's ENDS HERE */


.navigation-bar > .navigation-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 60rem;
  height: 3rem;
  max-height: auto;
  background-color: var(--white-color);
}

.navigation-bar > .navigation-options > .navigation-options-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 16rem;
}

.navigation-bar > .navigation-options > .navigation-options-items > .link {
  text-decoration: none;
  color: var(--secoundary-color);
  font-size: 15px;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation-bar > .navigation-options > .navigation-options-items .link:hover {
  box-shadow: var(--primary-link-shadow);
}

.navigation-bar > .navigation-options > .navigation-options-items > .link > span{
  width: 0;
  height: 0;
  margin-left: 3px;
  transform: rotate(45deg);
  border-bottom: 3px solid var(--secoundary-color);
  border-right: 3px solid var(--secoundary-color);
  border-top: 3px solid var(--transparent-color);
  border-left: 3px solid var(--transparent-color);
}

.navigation-bar > .navigation-options > .navigation-options-items:hover > .link > span{
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: 3px;
  transform: rotate(45deg);
  border-bottom: 3px solid var(--transparent-color);
  border-right: 3px solid var(--transparent-color);
  border-top: 3px solid var(--secoundary-color);
  border-left: 3px solid var(--secoundary-color);
}

.navigation-bar > .searchInput {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  width: fit-content;
}

.navigation-bar > .searchInput > input:focus-visible {
  outline: none;
}

.navigation-bar > .searchInput > input {
  height: 100%;
  width: 80%;
  padding: 6px;
  font-size: 1rem;
  border: 0;
  border-radius: 8px 0px 0px 8px;
}

.navigation-bar > .searchInput > button {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background-color: var(--white-color);
  width: 20%;
}

main{
  min-height: 100vh;
  width: 100%;
}


main section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  padding: 5rem;
}

main section .article{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 75rem;
  height: 60%;
  border: 0px solid black;
  border-radius: 7px;
  box-shadow: var(--perfect-shadow);
}

main section .article .article-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  background-image: var(--frontview-vertical-image);
  border: 0px solid;
  border-radius: 7px;
}

main section .article .article-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 60%;
}

main section .article .article-text p{
  font-size: 20px;
}


footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 100%;
  height: 3rem;
  padding: 0px 25px;
  background-color: var(--primary-color);
}

footer .copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 11.5rem;
  font-size: 16px;
  height: 100%;
  color: var(--color-over-dark);
}

/* CSS For Responsive Design. */

/* For Mobile devices */
@media screen and (max-width: 480px) {

  a{
    font-size: 16px;
  }
  
  p{
    font-size: 18px;
  }footer
  
  header{
    background-size: contain;
  }
  
  .navigation-bar .hamburger-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  main section .article {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main section .article .article-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  main section .article .article-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 90%;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  main section .article .article-text > p{
    font-size: 16px;
    height: 100%;
    overflow-wrap: normal;
    overflow-y: hidden;
    text-overflow: "More...";
  }

  .navigation-bar > .searchInput{
    position: absolute;
    right: 2rem;
    border: none;
    background-color: var(--transparent-color);
  }

  .navigation-bar > .searchInput > input{
    display: none;
  }

  .navigation-bar > .searchInput:hover > input{
    display: flex;
  }

  .navigation-bar > .searchInput:hover{
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
  }
  
  .navigation-bar > .searchInput > button{
    background-color: var(--transparent-color);
  }

}

/* For iPads, Tablets */
@media screen and (max-width: 768px) {
  .navigation-bar > .searchInput{
    position: absolute;
    right: 2rem;
    border: none;
    background-color: var(--transparent-color);
  }

  .navigation-bar > .searchInput > input{
    display: none;
  }

  .navigation-bar > .searchInput:hover > input{
    display: flex;
  }

  .navigation-bar > .searchInput:hover{
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
  }
  
  .navigation-bar > .searchInput > button{
    background-color: var(--transparent-color);
  }
}

/* For Small screens, laptops */
@media screen and (max-width: 1024px) {
  .navigation-bar > .searchInput{
    position: absolute;
    right: 2rem;
    border: none;
    background-color: var(--transparent-color);
  }

  .navigation-bar > .searchInput > input{
    display: none;
  }

  .navigation-bar > .searchInput:hover > input{
    display: flex;
  }

  .navigation-bar > .searchInput:hover{
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
  }
  
  .navigation-bar > .searchInput > button{
    background-color: var(--transparent-color);
  }
}

/* For Desktops, large screens */
@media screen and (max-width: 1200px) {
}

/* For  Extra large screens, TV */
@media screen and (min-width: 1201px) {
}

/* CSS For Responsive Design ENDS HERE */